---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ cfg.base_url }}/</loc></url>
  <url><loc>{{ cfg.base_url }}/ru.html</loc></url>
  <url><loc>{{ cfg.base_url }}/en.html</loc></url>
  <url><loc>{{ cfg.base_url }}/privacy.html</loc></url>
  <url><loc>{{ cfg.base_url }}/oferta.html</loc></url>
</urlset>
